@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

html {
    font-size: 100%;
}

:root {
    --background: rgba(0, 0, 0, .20);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

app {
    display: block;
    min-height: 96vh;
    background-image: url(../assets/DeathBloomsBackground1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-position: -250px 0;
}

.content {
    display: grid;
    place-items: center;
    padding-top: 9.5vh;
}

/* navigation styles start here */

header {
    background: rgb(90,79,70);
    background: linear-gradient(0deg, rgba(90,79,70,1) 0%, rgba(118,105,92,1) 100%);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}


.logo {
    padding: 1vh 0;
    margin-left: 3em;
}

    .logo img {
        height: 6vh;
        max-width: 80vw;
    }

        .logo img:hover {
        }



.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

    .nav-toggle:focus ~ .nav-toggle-label {
        outline: 1px solid #000000;
    }

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: white;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

        .nav-toggle-label span::before,
        .nav-toggle-label span::after {
            content: '';
            position: absolute;
        }

        .nav-toggle-label span::before {
            bottom: 7px;
        }

        .nav-toggle-label span::after {
            top: 7px;
        }

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgb(90,79,70);
    background: linear-gradient(0deg, rgba(90,79,70,1) 0%, rgba(118,105,92,1) 100%);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 200ms ease-in-out;
    background-color: rgba(0,0,0,0.8);
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

        nav a:hover {
            color: #000;
        }

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

.page {
    background: var(--background);
    padding: 0 2vh;
    color: white;
    text-align: justify;
}

    .page a {
        color: #ffffff;
        text-decoration: underline;
        font-weight: 600;
    }

        .page a:hover {
            color: #ffffff;
            background-color: rgba(150,150,150,0.6);
        }

        .page a:active {
            color: #ffffff;
        }

        .page a:visited {
            color: #ffffff;
        }

.socials {
    padding-top: 5vh;
}

    .socials img {
        width: 3.5em;
        height: 3.5em;
        border-radius: 0.4em;
        padding: 0.6em;
        background-color: rgba(0,0,0,0.4);
        opacity: 0.7;
        transition: 0.6s ease padding;
    }

        .socials img:hover {
            background-color: rgba(0,0,0,0.2);
            padding: 0.3em;
            opacity: 1.0;
        }


@media screen and (min-width: 800px) {

    app {
        /*border: 1px solid red;*/
        display: block;
        min-height: 99vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #ffffff;
        background-blend-mode: multiply;
        background-size: 200%;
        transition: 60.0s linear background-size;
        background-position: 0 0;
    }

        app:hover {
            background-size: 100%;
            background-color: rgba(0,0,0,0);
        }

    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        // all: unset; /* this causes issues with Edge, since it's unsupported */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        nav ul {
            display: flex;
        }

        nav li {
            margin-left: 3em;
            margin-bottom: 0;
        }

        nav a {
            opacity: 1;
            position: relative;
        }

            nav a::before {
                content: '';
                display: block;
                height: 5px;
                background: black;
                position: absolute;
                top: -.75em;
                left: 0;
                right: 0;
                transform: scale(0, 1);
                transition: transform ease-in-out 250ms;
            }

            nav a:hover::before {
                transform: scale(1,1);
            }

    .page {
        width: 60%;
        padding: 0 8vh;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
