body {
}

spell {
    color: blueviolet;
}

.card {
    margin-bottom: 10px;
}

dmg {
    color: orangered !important;
}

.card-container {
    margin-left: 40px;
}

.card-container:first-child {
    margin-left: 0 !important;
}

ul {
    padding-left: 20px;
    margin-bottom: 0;
}

ul li {
    list-style-type: square;
}