body {
}

.bg-lightdanger {
    background-color: #ffe8e8;
}

.bg-lighwarning {
    background-color: #fffcd9;
}

spell {
    color: blueviolet;
    /*font-weight: bold;*/
}

.card {
    margin-bottom: 10px;
}

dmg {
    padding: 0 5px;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: solid 1px #999999;
}

.card-container {
    margin-left: 40px;
}

.card-container:first-child {
    margin-left: 0 !important;
}

ul {
    padding-left: 20px;
    margin-bottom: 0;
}

ul li {
    list-style-type: square;
}

ol li {
    list-style-type: decimal;
}